* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ededed;
  margin: 2px;
}

main {
  display: grid;
  grid-template-areas:
    "a a a b b"
    "c c d d d"
    "c c e e e";
  gap: 10px;
}

main div {
  padding: 2em;
  text-align: center;
}

.item1 {
  background-color: darkgreen;
  grid-area: a;
  height: 100px;
}

.item2 {
  background-color: darkcyan;
  grid-area: b;
  height: 100px;
}

.item3 {
  background-color: darkgoldenrod;
  grid-area: c;
}

.item4 {
  background-color: darkmagenta;
  grid-area: d;
}

.item5 {
  background-color: lightslategray;
  grid-area: e;
}
