* {
  font-family: sans-serif;
  background-color: #ffffff;
  margin: 5px;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  color: blue;
}

.detail {
  margin-left: 8%;
  margin-top: 15%;
}

.detail h2 {
  font-size: 40px;
  color: #0f1a1a;
  margin-bottom: 20px;
}

span {
  color: #9f3132;
  bottom: 10px;
}

.photo {
  background-color: #272626;
  position: absolute;
  margin-bottom: 100px 100px 100px;
}

.detail p {
  color: #555;
  line-height: 25px;
}

.images {
  width: 40%;
  height: 60%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.photo {
  font-size: 20px;
  color: #9f3132;
  text-align: b;
  bottom: 10%;
}

.images img {
  height: 70%;
  position: absolute;
  left: 40%;
  bottom: 0;
  transform: translatex(-50%);
  transition: bottom 1s, left 1s;
}

.contact h1 p h2 {
  font-size: 200px;
  color: #0f1a1a;
  margin-bottom: 20px;
}

.s h1 p {
  font-size: 200px;
  color: #0f1a1a;
  margin-bottom: 20px;
}
